#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CORE_ABIVERSION := $(shell sed -rn 's/^\#define[[:space:]]+CORE_ABIVERSION[[:space:]]+//p' include/core/abiversion.h )

# http://bazaar.launchpad.net/~compiz-team/compiz-core/0.9.7/revision/3075
# TODO: Pass the default plugin list to each of the backends (ini, gconf, etc).
# DEFAULT_PLUGINS = "ccp"
DEFAULT_PLUGINS = "core composite opengl decor mousepoll snap compiztoolbox resize gnomecompat wall grid regex vpswitch place move session animation expo workarounds ezoom staticswitcher fade scale"

override_dh_auto_configure:
	# currently, segfault if CMAKE_BUILD_TYPE=Release
	dh_auto_configure -- \
			-DCOMPIZ_BUILD_WITH_RPATH=FALSE \
			-DCOMPIZ_DEFAULT_PLUGINS=\"$(DEFAULT_PLUGINS)\" \
			-DCMAKE_BUILD_TYPE=RelWithDebInfo \
			-DCOMPIZ_PACKAGING_ENABLED=TRUE \
			-Dlibdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
			-DUSE_GSETTINGS=OFF \
			-DUSE_GCONF=ON \
			-DCOMPIZ_DISABLE_PLUGIN_INOTIFY=ON \
			-DCOMPIZ_DISABLE_PLUGIN_DBUS=ON

override_dh_clean:
	dh_clean .AUTHORS.sed po/compiz.pot

override_dh_gencontrol:
	dh_gencontrol -- -Vcoreabiversion=$(CORE_ABIVERSION)

override_dh_install:
	# cmake findcompiz_install use COMPIZ_DESTDIR and using COMPIZ_DESTDIR and
	# DESTDIR together is completely broken upstream
	# So, doing the same in debian/rules to find a way to install things in the
	# right place, sorry for the kittens
	cmake_dir=`cmake --system-information 2> /dev/null | grep "^CMAKE_ROOT " | sed -e 's/.*"\(.*\)"/\1/'` && \
	mkdir -p debian/tmp$${cmake_dir}/Modules && cp cmake/FindCompiz.cmake debian/tmp$${cmake_dir}/Modules

	dh_install --fail-missing

%:
	dh $@


# Based on http://wiki.debian.org/onlyjob/get-orig-source
# For a specific bzr revision like bzr3811 use:
# REV=3811 debian/rules get-orig-source

PKD   = $(abspath $(dir $(MAKEFILE_LIST)))
PKG   = $(word 2,$(shell dpkg-parsechangelog -l$(PKD)/changelog | grep ^Source))
UVER  = $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')
DTYPE = +repack
VER   = $(subst $(DTYPE),,$(UVER))
UURL ?= lp:compiz/0.9.10
REV  ?= tag:v$(VER)

get-orig-source:
	@echo "# Downloading..."
	$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
	bzr export --per-file-timestamps -r $(REV) $(PKG)-$(VER) $(UURL) \
	|| $(RM) -r $(PKG)-$(VER)
	@echo "# Cleaning-up..."
	cd $(PKG)-$(VER) \
	&& mv debian debian-upstream
	@echo "# Updating time stamps of directories..."
	BZR_TIME=$$(bzr version-info -r $(REV) $(UURL) | \
		sed -rne 's,^date: (.*),\1,p') ;\
	find $(PKG)-$(VER) -type d | xargs -r touch -d "$$BZR_TIME"
	@echo "# Packing..."
	XZ_OPT="-6v" tar -caf "$(PKG)_$(VER)$(DTYPE).orig.tar.xz" \
		--numeric-owner --owner 0 --group 0 $(PKG)-$(VER) \
	&& $(RM) -r "$(PKG)-$(VER)"

.PHONY: get-orig-source
