#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH_CPU := $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)

LDFLAGS += -Wl,--as-needed

CORE_ABIVERSION := $(shell sed -rn 's/^\#define[[:space:]]+CORE_ABIVERSION[[:space:]]+//p' include/core/abiversion.h )
DEFAULT_PLUGINS = "core composite opengl decor mousepoll snap compiztoolbox resize gnomecompat wall grid regex vpswitch place move session animation expo workarounds ezoom staticswitcher fade scale"

# currently, segfault if CMAKE_BUILD_TYPE=Release
# kde4-window-decorator is broken https://launchpad.net/bugs/931500
confflags := \
	-DCOMPIZ_BUILD_WITH_RPATH=FALSE \
	-DCOMPIZ_DEFAULT_PLUGINS=\"$(DEFAULT_PLUGINS)\" \
	-DCMAKE_BUILD_TYPE=RelWithDebInfo \
	-DCOMPIZ_PACKAGING_ENABLED=TRUE \
	-Dlibdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
	-DUSE_GSETTINGS=ON \
	-DUSE_GCONF=ON \
	-DBUILD_KDE4=OFF \
	-DCOMPIZ_DISABLE_PLUGIN_KDE=ON \
	-DUSE_GNOME=OFF \
	-DBUILD_XORG_GTEST=OFF

ifeq ($(DEB_HOST_ARCH_CPU),$(findstring $(DEB_HOST_ARCH_CPU),arm arm64 armeb))
	confflags += -DBUILD_GLES=ON
else
	confflags += -DBUILD_GLES=OFF
endif

override_dh_auto_configure:
	dh_auto_configure -- $(confflags)

override_dh_clean:
	$(RM) -r compizconfig/ccsm/build
	dh_clean

override_dh_gencontrol:
	dh_gencontrol -- -Vcoreabiversion=$(CORE_ABIVERSION)

override_dh_install:
	# remove acceptance test binary
	$(RM) debian/tmp/usr/bin/compiz_autopilot_acceptance_tests

	dh_install --fail-missing

	# remove duplicate files
	$(RM) debian/compiz-dev/usr/share/compiz/cmake/LibCompizConfigCommon.cmake
	$(RM) debian/compiz-plugins/usr/share/compiz/core.xml
	$(RM) debian/compiz-plugins/usr/share/compiz/ccp.xml
	$(RM) debian/compiz-plugins/usr/lib/$(DEB_HOST_MULTIARCH)/compiz/libccp.so

override_dh_installdocs-arch:
	dh_installdocs -plibdecoration0 -plibdecoration0-dev --link-doc=libdecoration0
	dh_installdocs --remaining-packages --link-doc=libcompiz-core

%:
	dh $@ --parallel --with python2

get-orig-source:
	sh debian/get-bzr-source.sh

.PHONY: get-orig-source
